<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Specify the handler for node.js apps using iisnode -->
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>

		<!-- Set up URL rewriting (optional but often necessary) -->
		<rewrite>
			<rules>
				<rule name="NodeJS" stopProcessing="true">
					<match url="(.*)" />
					<action type="Rewrite" url="app.js" />
				</rule>
			</rules>
		</rewrite>

		<!-- IIS Node.js module settings -->
		<iisnode watchedFiles="web.config;*.js" loggingEnabled="true" logDirectory="iisnode" />
	</system.webServer>
</configuration>
